<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../pw-todo-form/pw-todo-form.html">
<link rel="import" href="../pw-todo-list/pw-todo-list.html">

<dom-module id="pw-todo">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>[[title]]</h1>
    <pw-todo-form></pw-todo-form>
    <pw-todo-list items="[[items]]"></pw-todo-list>
  </template>

  <script>
    /**
     * `pw-todo`
     * elemento principal
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PwTodo extends Polymer.Element {
      static get is() { return 'pw-todo'; }
      static get properties() {
        return {
          items: {
            type: Array
          },
          title: {
            type: String,
            reflectToAttribute: true
          }
        };
      }
    }

    window.customElements.define(PwTodo.is, PwTodo);
  </script>
</dom-module>
